<!DOCTYPE html>
<html>
<head>
  <title>awsumlink</title>
  <script src="/js/react/react.js"></script>
  <script src="/js/react/JSXTransformer.js"></script>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="/css/normalize.css" type="text/css" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <%= yield %>
  <script type="text/jsx" src="/js/app/app.js"></script>
  <script type="text/jsx" src="/js/app/views.js"></script>
  <script type="text/jsx">
    /** @jsx React.DOM */
  </script>
</body>
</html>
